1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [95]:
def mickey(N):
    for i in range(N):
        j=i+1
        if j%15 == 0: 
            print("MickeyMouse, ", end='')
        elif j%3 == 0:
                print("Mickey, ", end='')
        elif j%5 == 0:
                print("Mouse, ", end='')
        else:
            print(str(j) + ', ', end='')
mickey(20)

1, 2, Mickey, 4, Mouse, Mickey, 7, 8, Mickey, Mouse, 11, Mickey, 13, 14, MickeyMouse, 16, 17, Mickey, 19, Mouse,

In [107]:
def mickey_tuple(N):
    labels = ()
    for i in range(N):
        j=i+1
        if j%15 == 0: 
            labels = labels + ("MickeyMouse",)
        elif j%3 == 0:
            labels = labels + ("Mickey",)
        elif j%5 == 0:
            labels = labels + ("Mouse",)
        else:
            labels = labels + (j,)
     # NB wouldnt work if labels tuple was declared outside of function
    return labels

mickey_result = mickey_tuple(20)
print(str(mickey_result) + ', ' + str(type(mickey_tuple)))

(1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse'), <class 'function'>

In [109]:
def mickey_to_donald_tuple(mickey_tuple): # easier with a long comprehension?
    mickey_list = list(mickey_tuple)
    donald_list = []
    for i in range(len(mickey_list)): 
        if mickey_list[i] == "Mickey": donald_list.append("Donald")
        elif mickey_list[i] == "Mouse": donald_list.append("Duck")
        else: donald_list.append(mickey_list[i])
    donald_tuple=tuple(donald_list)
    return donald_tuple

donald_tuple = mickey_to_donald_tuple(mickey_result)
print(donald_tuple)

TypeError: 'list' object is not callable

In [111]:
def mickey_to_donald_tuple(mickey_tuple):
    return tuple("Donald" if item == "Mickey" else 
                "Duck" if item == "Mouse" else 
                item for item in mickey_tuple)

donald_tuple = mickey_to_donald_tuple(mickey_result)
print(donald_tuple)

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck')

In [86]:
a_tuple = (1, 2, 3)
def increment(mytuple):
    mytuple = mytuple + (4,)
    return mytuple
print(increment(a_tuple))
print(a_tuple)

(1, 2, 3, 4)
(1, 2, 3)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [112]:
def swap(x,y):
    temp = x
    x=y
    y=temp
    return x,y
a="lol"
b="lmao"
print(a,b)
print(swap(a,b)) # how without temp var?

lol lmao
('lmao', 'lol')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [114]:
from math import sqrt
def distance(x,y):
    try:
        d=sqrt((u[0]-v[0])**2 + (u[1]-v[1])**2)
        return d
    except: print("not tuples")
u=(0,0)
v=(0,1)
dist = distance(u,v)
print(dist)

1.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [121]:
mystring="bastAaa"
counter={} # dict

def count_chars(word):
    lower_word = word.lower() # NB doesnt modify in place, as strings are immutable
    for letter in lower_word:
        if letter not in counter:
            counter[letter] = 0 # key 
        counter[letter]+=1
    print(counter)

count_chars(mystring)

{'b': 1, 'a': 4, 's': 1, 't': 1}

In [122]:
person_1 = {}

person_1['name']="John"
person_1['age']=38
person_1['height']=188
print(person_1)
person_1['age']+=1
print(person_1)

{'name': 'John', 'age': 38, 'height': 188}
{'name': 'John', 'age': 39, 'height': 188}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [123]:
list = [1,2,3]
for i in range(len(list)):
    print(i)
    #print(list[i])

0
1
2

In [31]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count_uniques(mylist):
    mylist.sort()
    myset=set(mylist)
    counter = len(myset)
    print("Unique numbers:", myset, "total:", counter)

count_uniques(l)

Unique numbers: {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99} total: 54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [124]:
def square(number):
    square = number*number
    return square

def cube(number):
    cube=number**3
    return cube

def sixth_power(number):
    result=square(cube(number)) # nested functions!
    return result

print(square(2))
print(cube(2))
print(sixth_power(2))

4
8
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [125]:
integers = []
for i in range(11):
    integers.append(i)
#print(integers)

cubes = []
for integer in integers:
    cubes.append(integer**3)

print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [39]:
easy_cubes=[x**3 for x in integers]
print(easy_cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [126]:
pyt_triples_list = [(a,b,c) for c in range(100) for b in range(c) for a in range(b) if a*a + b*b == c*c] # same as nested for loop
pyt_triples_tuple = tuple(pyt_triples_list)
print(pyt_triples_tuple)

((3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50), (24, 45, 51), (20, 48, 52), (28, 45, 53), (33, 44, 55), (40, 42, 58), (36, 48, 60), (11, 60, 61), (39, 52, 65), (33, 56, 65), (25, 60, 65), (16, 63, 65), (32, 60, 68), (42, 56, 70), (48, 55, 73), (24, 70, 74), (45, 60, 75), (21, 72, 75), (30, 72, 78), (48, 64, 80), (18, 80, 82), (51, 68, 85), (40, 75, 85), (36, 77, 85), (13, 84, 85), (60, 63, 87), (39, 80, 89), (54, 72, 90), (35, 84, 91), (57, 76, 95), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [127]:
from math import sqrt

tuple_a = (3,4,5)

def normalized_tuple(mytuple):
    mylist = [item for item in mytuple]
   # mylist
    squared_norm=0
    for element in mylist:
        squared_norm += (element**2)
    norm=sqrt(squared_norm)
    outlist=[element/norm for element in mylist]
    #for element in mylist:
        #outlist.append(element/norm)
    outtuple=tuple(outlist)
    return(outtuple)

print(normalized_tuple(tuple_a))

(0.4242640687119285, 0.565685424949238, 0.7071067811865475)